a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    padding-left: 20px;
}

#ast-desktop-header {
    top: 0;
}

/* basket */
.basket_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.basket__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.basket_vitobox {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    z-index: 9999999;
}

.basket__visible {
    transform: none;
    z-index: 5;
}

.products__control {
    position: relative;
    width: 100%;
    padding-bottom: 60px
}

.basket__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px 0 12px 0;
    border-bottom: 1px solid #BDBDBD;
    text-align: center;
    width: 100%;
    height: auto;
}

.basket__title {
    font-size: 20px;
    margin-bottom: 12px;
}

.basket__desc {
    width: 198px;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
}

.close {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* product basket */

.scrolled {
    height: 650px;
    overflow: scroll;
}

.scrolled::-webkit-scrollbar {
    display: none;
    width: 1px;
}

.basket-fixed {
    overflow-y: hidden !important;
}

.product__list {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
}

.product__item {
    position: relative;
    display: flex;
    padding: 10px;
    height: 106px;
    border-bottom: 1px solid #BDBDBD;
}

.product__name{
    font-size: 20px;
    line-height: 1;
}

.product__note {
    font-size: 12px;
    color: #BDBDBD;
}

.remove_product {
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
}

.product__control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
}

.remove_product img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
    max-width: 100%;
}

.recommended {
    width: 49px;
    margin: 0;
    border: 1px solid #2C1E2F;
    border-radius: 20px;
}

.open .recommended_list{
    display: block;
    opacity: 1;
}

.recommended__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.open .recommended__count:after{
    top: 37%;
    transform: rotate(180deg);
}

.recommended__count:after {
    content: '';
    position: absolute;
    top: 39%;
    right: 10px;
    width: 10px;
    height: 8px;
    background: url('../img/down_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: none;
    transition: 300ms;
}

.recommended__count {
    position: relative;
    display: flex;
    align-items: center;
    width: 49px;
    height: 25px;
    font-size: 12px;
    padding-left: 12px;
}

.recommended_list {
    position: absolute;
    right: 0px;
    display: none;
    opacity: 0;
    min-width: 135px;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #000;
    border-radius: 11px;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
    transition: 200ms ease-in;
}

.recommended__item {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 200ms ease-in;
}

.recommended_list .active{
    color: #fff;
    background-color: #2c1e2f
}

.recommended__item:hover {
    color: #fff;
    background-color: #2c1e2f
}

.recommended__item:last-child {
    margin-bottom: 0px;
}

.product__image {
    align-self: center;
    width: 50px;
    margin-right: 24px;
}

.product_container .block__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product_container .block__price .block__text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'PP Pangram Sans';
}

.subtotal {
    font-size: 18px;
    color: #1C131E;
}

.basket__bottom .btn_vito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    height: 44px;
    padding: 10px 40px;
}

.btn_vito {
    background: #2c1e2f;
    border: 1px solid #2c1e2f;
    border-radius: 50px;
    color: #fff;
    transition: 200ms ease-in-out;
}

.btn_vito:hover {
    background: #fff;
    color: #2c1e2f;
}

.product__price,
.subtotal .amount{
    font-weight: 600;
}

/*popup-success*/
.popup__list-cart {
    position: fixed;
    top: 90px;
    right: 40px;
    display:flex;
    flex-direction: column;
    /*width: 300px;*/
    height: auto;
    z-index: 1200;
}

.popup__item-cart {
    display: flex;
    align-items: center;
    /*min-width: 300px;*/
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #2C1E2F;
    border-radius: 23px;
    background-color: #fff;
    transform: translateX(calc(100% + 40px));
    transition: transform 1s ease-in-out;
}

.popup__success-img {
    width: 44px;
    height: 44px;
    margin-right: 13px;
    background-image: url('../img/success_logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.popup__attention-img {
    width: 44px;
    height: 44px;
    margin-right: 13px;
    background-image: url('../img/attention.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.popup__success-img svg {
    width: 100%;
    heght: 100%;
}

.popup_text {
    /*width: 210px;*/
    font-size: 13px;
    font-family: PP Pangram Sans;
    line-height: 1.5;
    font-weight: 300;
}

/* Catalog */
.woocommerce-products-header {
    padding: 272px 0 207px 0;
    background-image: url('../img/catalog_main.jpg');
    background-size: cover;
    background-position: bottom;
    margin-bottom: 20px;
}

.intro-header {
    width: 872px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
}

.intro-title {
    font-size: 39px;
    font-weight: 500;
    margin-bottom: 8px;
}

.intro-desc {
    font-size: 20px;
    font-weight: 300;
}

.light-blue {
    background: #c7e1e7;
}

/* Catalog */
.category {
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #BDBDBD;
    z-index: 1;
}

.category:last-child {
    padding: 70px 0 120px;
    border: 0;
}

.category-wrapp {
    position: relative;
    width: 100%;
    height: 100%;
}

.category-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 38%;
    height: 600px;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.category-info {
    width: 58%;
    height: 152px;
    margin-bottom: 81px;
    margin-left: auto;
}

.category-title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    font-family: 'PP Pangram Sans';
}

.category-desc {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
}

/* catalog products */
.catalog-list {
    padding: 0;
    list-style: none;
}
.catalog-list li {
    margin-bottom: 25px;
    z-index: 1;
}
.catalog-item {
    position:relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD !important;
    border-radius: 24px;
    overflow: hidden;
}
.catalog-image {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 181px;
    border-bottom: 1px solid #BDBDBD;
    backdrop-filter: blur(25px);
    overflow: hidden;
}

.catalog-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.catalog-item-info {
    min-height: 200px;
    padding-top: 20px;
    background-color: #fff;
}

.catalog-top {
    display: block;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    overflow: hidden;
}

.catalog-dosage {
    margin-bottom: 12px;
    display: block;
    font-size: 16px;
    color: #BDBDBD;
}

.category-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.catalog-icon {
    width: 25px;
    height: 25px;
    margin-right: 26px;
}

.catalog-icon svg {
    width: 32px;
    height: 32px;
    fill: none;
    stroke: #2C1E2F;
    stroke-width: 1;
}

.catalog-icon:last-child {
    margin-right: 0;
}
.catalog-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    background-color: #fff;
}

.catalog-bottom button.disabled {
    pointer-events: none;
    border: 0;
    color: #F4F4F4;
}

.catalog-desc-item {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #BDBDBD;
}

.header__info .catalog-dosage{
    margin-bottom: 32px;
}

.woocommerce-product-details__short-description {
    order: 20;
}

.header__info .cart {
    order: 15;
    margin-bottom: 32px;
}

.catalog-desc-item p,
.woocommerce-product-details__short-description p{
    display: block;
    margin: 0;
    text-align: left;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}

.catalog-desc-item ul > li,
.woocommerce-product-details__short-description ul > li{
    margin: 0;
    font-weight: 300;
    text-align: left;
    font-family: 'PP Pangram Sans';
}

.catalog-desc-item ul > li::marker,
.woocommerce-product-details__short-description ul > li::marker{
    font-size: 8px;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
    color: #1C131E;
}

.catalog-item-price,
.catalog-recommended {
    padding-bottom: 12px;
}

.catalog-item-price {
    font-size: 18px;
}


.catalog-recommended {
    font-size: 15px;
    color: #1C131E;
}

.product_type_simple{
    background: #4281A4;
    border-radius: 47px;
    border: 1px solid #4281A4;
    font-weight: 300;
    transition: 300ms;
}

.product_type_simple:hover {
    background: #2E5B74;
    border: 1px solid #4281A4 !important;
}

.catalog-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 20px;
    color: #ffff;
    text-transform: lowercase;
    font-weight: 300;
    border-bottom-right-radius: 72px 100px;
    z-index: 3;
}

.catalog-item .new {
    background: #4281A4;
}

.catalog-item .disabled {
    background: #BDBDBD;
}

/*filter*/
#filter-catalog {
    padding: 0;
}
.filter {
    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
    z-index: 1;
}
.filter-list {
    display: flex;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.filter-item {
    margin-right: 32px;
    cursor: pointer;
}

.title-filter {
    margin: 0;
    font-size: 24px;
    color: #BDBDBD;
    font-family: 'PP Pangram Sans';
    font-weight: 400;
}

.filter-tabs {
    display: none;
}

.active .title-filter{
    color: #1C131E;
}

.active {
    display: block !important;
}

.filter-wrapp {
    display: flex;
    flex-wrap: wrap;
}
.filter-list-items {
    display: flex;
    flex-wrap: wrap;
}
.filter-btn {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 29px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #1C131E;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.filter-btn:hover {
    color: #fff;
    background-color: #4281A4;
}

.filter-btn:hover .inline-svg-icon{
    stroke: #fff;
}

.inline-svg-icon {
    fill: none;
    stroke: #2C1E2F;
    stroke-width: 2px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    transition: 300ms ease-in-out;
}

#catalog-section {
    position: relative;
    padding: 20px 0;
    overflow: hidden;
}

.filter-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.image-loader {
    width: 100px;
    heigth: 80px;
    margin-top: 40px;
}

.image-loader img {
    width: 100%;
}

.filter-tabs .filter-wrapp .selected {
    color: #fff;
    background-color: #4281A4 !important;
}

.filter-tabs .filter-wrapp .selected .inline-svg-icon{
    stroke: #fff;
}

.decor_container {
    position: relative;
}

.background__decor-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-decor {
    position: absolute;
    display: none;
    width: 40%;
    height: 1500px;
    background-repeat: no-repeat;
}

.top {
    background-image: url('/wp-content/themes/astra-child/assets/img/blue_blur.png');
    top: 220px;
    right: -70px;
}

.middle {
    top: 1500px;
    left: 0;
    background-image: url('/wp-content/themes/astra-child/assets/img/yellow_blur.png');
}

.bottom {
    top: 3000px;
    right: 0;
    background-image: url('/wp-content/themes/astra-child/assets/img/pink_blur.png');
}

.mobile-basket-icon {
    display: none;
    width: 21px;
    height: 19px;
    fill: #fff;
}
.mobile__header-filter {
    display: none;
}

/*success icon*/
.checkmark {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4281A4;
    stroke-miterlimit: 10;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4281A4;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.fixed-filter {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 999;
}

.catalog-title {
    padding: 0 20px;
    font-size: 24px;
    font-family: PP Pangram Sans;
    font-weight: 700;
}

button.product_type_simple:focus {
    background: #2E5B74;
    border: 1px solid #2E5B74;
}

/*mobile filter*/
.mobile-filter-check {
    display: none;
    padding: 0 20px;
    width: 100%;
}
.mobile-filter-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.mobile-filter-name {
    font-size: 16px;
    margin-right: 16px;
    font-weight: 600;
}

#select-filter {
    font-size: 16px;
    font-weight: 300;
}

#clearfilter {
    margin-left: auto;
    background-color: transparent;
    color: #FF6666;
    font-weight: 600;
}

.mobile__hidden {
    display: block;
}

.added {
    background-color: #fff !important;
    color: #4281A4 !important;;
}

/*single page product*/
.s {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__product {
    width: 100%;
    padding: 135px 0 220px;
}
.header__image {
    width: 140px;
    height: auto;
}

.header__image img{
    width: 100%;
}

.header__product-title {
    font-size: 32px;
    font-weight: 700;
    font-family: "PP Pangram Sans";
}

.product__attribute-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 187px;
    padding-bottom: 10px;
    margin-bottom: 64px;
    border-bottom: 1px solid #2C1E2F;
}

.product__attribute-icon{
    position: relative;
    cursor: pointer;
}

.active .product__desc-icon {
    display: block;
}

.product__attribute-icon svg{
    width: 45px;
    height: 50px;
    fill: none;
    stroke: #2C1E2F;
    stroke-width: 1;
}

.product__desc-icon {
    position: absolute;
    top: -40px;
    left: -15px;
    display: none;
    width: 72px;
    text-align: center;
    color: #BDBDBD;
    line-height: 1.2;
    font-size: 12px;
}

.single_add_to_cart_button {
    min-width: 250px;
    height: 52px;
    text-align: center;
    background-color: #F5CC83;
    border: 1px solid #F5CC83 !important;
    font-weight: 300;
    font-size: 18px;
    transition: 200ms ease-in-out;
}

.single_add_to_cart_button:hover {
    color: #F5CC83;
    background-color: #fff;
}

.simple__product-additionally {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    margin-bottom: 8px;
}

.simple__product-price {
    margin-right: 6px;
    font-size: 24px;
    font-weight: 700;
}

.simple__product-note {
    font-size: 16px;
    font-weight: 300;
}

.ast-stock-detail {
    display: none;
}

.woocommerce-product-details__short-description {
    margin-bottom: 18px;
}

.quantity {
    display: none;
}

/*modal single product*/
.product__modal {
    position: relative;
    max-width: 585px;
}

.product__modal .modal-content{
    border-radius: 28px;
    border: 0;
}

.product__modal .modal-header{
    border: 0;
    padding: 40px 40px 0 40px;
    margin-bottom: 50px;
}

.product__modal .modal-header .modal-title{
    font-size: 24px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
}

.product__modal .modal-body{
    padding: 0px 40px 40px 40px;
    font-size: 14px;
    font-family: 'PP Pangram Sans';
}

.btn__close-modal {
    position: absolute;
    right: 23px;
    top: 20px;
    width: 29px;
    height: 30px;
    background-image: url(../img/close_popup.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: transform .3s;
}
.btn__close-modal:hover {
    transform: rotate(180deg);
}

.single_product__compose {
    font-size: 16px;
    margin-bottom: 66px;
    color: #1C131E !important;
    border-bottom: 1px solid #1C131E;
}

.table_header-popup {
    font-size: 14px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
}

.modal-table {
    border: 0;
    margin: 0;
    padding: 0;
}

.modal-table tr {
    padding-left: 0;
}

/*section single product note*/
#product-desc {
    padding: 120px 0;
    border-bottom: 1px solid #BDBDBD;
}

.product__note-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    padding: 43px 0;
    margin: 0;
    list-style: none;
}

.product__note-img {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}

.product__note-text {
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    font-family: "PP Pangram Sans";
}

.product__desc-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product__desc-note {
    width: 40%;
}

.product__desc-image {
    width: 50%;
    border-radius: 23px;
    overflow: hidden;
}

.product__desc-image img{
    width: 100%;
}

.product__desc-note .block-9__accordion .block-9__accordion-inner {
    cursor: pointer;
}

.product__desc-note .block-9__accordion {
    border-top: 1px solid #2C1E2F;
    border-bottom: 1px solid #2C1E2F;
}

.product__desc-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
    z-index: 3;
}

.product__desc-text {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'PP Pangram Sans';
}

.product__desc-num {
    display: block;
    margin-top: 18px;
    font-size: 16px;
    color: #BDBDBD;
    font-family: 'PP Pangram Sans';
}

.product__desc-dosage {
    display: block;
    margin-bottom: 16px;
    font-size: 20px;
}

/*product simple addition section*/
#product-addition {
    padding: 60px 0 56px;
}

.product__addition-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product__block-addition:not(:last-child){
    margin-right: 115px;
}

.product__block-addition {
    display: flex;
    width: 32%;
}

.product__addition-image {
    width: 39px;
    height: 39px;
    margin-right: 15px;
}

.product__addition-image img {
    width: 100%;
}

.product__addition-text {
    width: 416px;
}

.product__addition-title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
}

.product__addition-text p{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
}

.product__addition-text ul{
    margin: 0;
    padding: 0 0 0 13px;
}

.product__addition-text ul > li{
    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
}

.product__addition-text ul > li::marker {
    font-size: 8px;
}
/*Section recommended products*/
#product-recommend {
    padding: 95px 0;
    background-image: url('/wp-content/themes/astra-child/assets/img/sea_fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#product-upsell {
    padding: 95px 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.product__research-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product__recommended-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recommend-text {
    text-align: center;
    margin-bottom: 72px;
}

.recommend-title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
}

.recommend-desc {
    font-size: 18px;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
}

.research-item {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 369px;
    /*height: 530px;*/
    margin-right: 32px;
    padding: 34px;
    border: 1px solid #2C1E2F;
    border-radius: 32px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.2);
}

.product__research-text {
    width: 40%;
}

.product__research-slide {
    width: 60%;
    height: 530px;
    margin-top: -80px;
    margin-left: auto;
}

.product__research-slide .slick-list .slick-track .slick-slide {
    height: 530px;
}

.product__research-slide .slick-dots {
    bottom: -50px
}

.product__research-slide .slick-dots > li > button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #FFFFFF;
}

.product__research-slide .slick-dots > li > button:before{
    width: 10px;
    height: 10px;
    font-size: 0;
}

.product__research-slide .slick-dots > .slick-active > button{
    background: #4281A4 !important;
}

.product__research-slide .slick-dots > li > button{
    width: 10px;
    height: 10px;
    background: #FFFFFF;
}

.research-title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'PP Pangram Sans';
}

.research-desc {
    margin-bottom: 24px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
}

.research-directory {
    display: flex;
    line-height: 1.2;
}

.research-source {
    font-size: 17px;
    font-weight: 300;
    font-family: 'PP Pangram Sans';
}

.research-value {
    font-size: 20px;
    font-weight: 400;
    font-family: 'PP Pangram Sans';
}

.research-read {
    border-bottom: 1px solid #1C131E;
}

.research-read:hover {
    color: #1C131E;
}

.product__research-slide .owl-stage {
    display: flex;
}

/*Section product vote*/
.product__vote-content {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 87px 0 173px;
}
.product__vote-block {
    width: 418px;
}

.product__vote-image {
    width: 45%;
}

.product__vote-image img {
    width: 100%;
}

.product__vote-title {
    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 32px;
    font-weight: 700;
    font-family: 'PP Pangram Sans';
}

.product__vote-text {
    margin-bottom: 35px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 300;
}

.product__vote-btn {
    display: block;
    width: 229px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #2C1E2F;
    border-radius: 35px;
    font-size: 18px;
    color: #fff;
    background: #2C1E2F;
    font-weight: 400;
    font-family: 'PP Pangram Sans';
    transition: 300ms;
}

.product__vote-btn:hover {
    color: #2C1E2F;
    background: #fff;
}

/*product simple quantity*/
.cart {
    display: flex;
}
.product__simple-quantity {
    position: relative;
    display: none;
    line-height: 54px;
    width: 54px;
    height: 54px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #F5CC83;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
.product__simple-text-quantity {
    position: relative;
    margin-left: -13px;
    font-family: 'PP Pangram Sans';
    font-size: 16px;
    font-weight: 300;
}
.product__simple-text-quantity:after {
    content: '';
    position: absolute;
    top: 40%;
    right: -16px;
    width: 10px;
    height: 8px;
    background: url('../img/down_arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: none;
    transition: 300ms;
}

.open .product__simple-text-quantity:after {
    top: 26%;
    transform: rotate(180deg);
}

.open .list-quantity-options {
    display: block;
}

.list-quantity-options {
    position: absolute;
    top: 60px;
    left: -60px;
    display: none;
    line-height: 1.2;
    min-width: 178px;
    padding: 18px;
    border-radius: 24px;
    border: 1px solid #F5CC83;
    text-align: left;
    list-style: none;
    background-color: #fff;
    z-index: 5;
}

.item-quantity-option {
    font-size: 16px;
    font-family: 'PP Pangram Sans';
    font-weight: 300;
}

.item-quantity-option:not(:last-child) {
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .catalog-title {
        font-size: 23px;
    }
    #catalog-section {
        padding: 20px 20px;
    }
    .category
}

@media (max-width: 1024px){
    .category {
        padding: 20px 0;
    }
    .category-image {
        height: 400px;
    }
    .catalog-image {
        height: 140px;
    }
    .catalog-title {
        padding: 0 10px;
        font-size: 19px;
    }
    .catalog-dosage {
        font-size: 14px;
    }
    .catalog-icon {
        margin-right: 15px;
    }
    .catalog-icon svg {
        width: 25px;
        height: 25px;
    }
    .catalog-desc-item {
        padding: 0 10px 10px 10px
    }
    .catalog-desc-item p{
        font-size: 13px;
    }
    .catalog-item-price {
        font-size: 15px;
    }
    .product_type_simple {
        font-size: 15px
    }
    .catalog-item {
        font-size: 12px;
    }
}

@media (max-width: 991px){
    .row {
        margin-right: 0;
    }
    #content {
        background-color: #fff;
        background-image: none;
    }
    .top {
        background-image: url('../img/fon_blue_mobile.png');
        top: 220px;
        right: 0;
        width: 100%;
        height: 1550px;
    }
    .woocommerce-products-header {
        padding: 50px 0 130px 0;
        margin: 0;
    }
    .intro-header {
        width: 100%;
        padding: 0 24px;
    }
    .intro-title {
        font-size: 28px;
    }
    .intro-desc {
        font-size: 16px;
    }
    /*filter*/
    #filter-catalog {
        position: sticky;
        top: 80px;
        left: 0;
        padding: 0 20px;
        z-index: 999;
        background-color: #fff;
    }
    .filter {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0;
        padding-bottom: 0;
        height: auto;
    }
    .filter-tabs {
        position: fixed;
        padding: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        background-color: #fff;
        z-index: 12000;
        transform: translateX(100%);
        transition: transform 0.6s ease-in-out;
    }
    .filter-list-items {
        flex-direction: column;
        padding: 0 15px;
    }
    .mobile__header-filter {
        position: relative;
        display: block;
        width: 100%;
        padding: 20px 30px;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 60px;
        border-bottom: 1px solid #E1E1E1;
        text-align: center;
        font-size: 22px;
        color: #1C131E;
    }
    .mobile__filter-close {
        position: absolute;
        top: 40%;
        right: 30px;
        width: 15px;
        height: 15px;
        background-image: url('/wp-content/themes/astra-child/assets/img/close.svg');
        background-position: center;
        cursor: pointer;
    }
    .filter-wrapp {
        flex-direction: column;
    }
    .filter-list {
        margin-bottom: 0;
    }
    .filter-item {
        position: relative;
        width: 50%;
        margin: 0;
        padding: 24px 20px;
    }
    .filter-item:first-child{
        border-right: 1px solid #E1E1E1;
    }
    .filter-item:before {
        content: '';
        position: absolute;
        top: 40%;
        right: 16px;
        width: 12px;
        height: 12px;
        background-image: url('/wp-content/themes/astra-child/assets/img/plus.svg');
    }
    .filter .row .active {
        transform: translateX(0%);
    }
    .title-filter {
        font-size: 16px;
        color: #1C131E;
    }
}

@media (max-width: 768px) {
    .basket_vitobox {
        width: 100%;
    }
    .mobile-basket-icon {
        display: block;
    }
    .filter .row {
        --bs-gutter-x: 0;
    }
    .catalog-title {
        padding: 0;
    }
    .product_type_simple,
    .product_type_simple:focus,
    .product_type_simple:hover{
        border: 0 !important;
    }
    /*category*/
    #catalog-section {
        padding: 20px 10px;
    }
    .category {
        padding: 20px 0;
    }
    .category-info {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .category-image {
        position: relative;
        left: 0;
        width: 100%;
        height: 210px;
        margin-bottom: 20px;
    }
    .catalog-list {
        padding: 0;
    }

    .catalog-list li:first-child {
        display: none;
    }
    .catalog-list li {
        margin-bottom: 20px;
        padding-right: 0;
    }
    /*catalog blocks*/
    .catalog-item {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 114px;
    }
    .catalog-top {
        display: flex;
    }
    .catalog-image {
        width: 116px;
        height: auto;
        border-right: 1px solid #BDBDBD;
        border-bottom: 0;
    }
    .catalog-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 125px;
        min-height: auto;
        padding-top: 0;
        padding-left: 15px;
        text-align: left;
        margin-right: 7px;
    }
    .catalog-title {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    .catalog-dosage {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 16px;
    }
    .category-attribute,
    .catalog-desc-item {
        display: none;
    }
    .catalog-item-price {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .catalog-item-price,
    .catalog-recommended {
        padding-bottom: 0;
    }
    .catalog-recommended {
        margin: 0;
        font-size: 12px;
        font-weight: 300;
    }
    .catalog-bottom {
        justify-content: center;
        padding-right: 16px;
        padding-bottom: 0;
    }
    .product_type_simple {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        height: 44px;
        width: 44px;
        border-radius: 100%;
        padding: 0;
    }
    .catalog-status {
        font-size: 12px;
        padding: 4px 14px;
        border-bottom-right-radius: 64px 72px;
    }
    .scrolled {
        height: 550px;
        overflow: scroll;
    }
    .mobile__hidden {
        display: none;
    }
    .popup__list-cart {
        width: 310px;
    }
    .popup_text {
        width: 210px;
        font-size: 12px;
    }
    /*backgrounds*/
    .top {
        display: none;
    }
    .middle {
        left: -360px;
    }
    /*single page product*/
    .s {
        background-position: -350px;
    }
    .header__product {
        flex-direction: column;
    }
    .header__info {
        display: flex;
        flex-direction: column;
    }
    #product-desc {
        padding: 60px 0 0;
        border: 0;
    }
    .product__desc-content {
        flex-direction: column;
    }
    .product__desc-note {
        order: 10;
        width: 100%;
    }
    .product__desc-image {
        order: 5;
        margin-bottom: 30px;
        width: 100%;
    }
    #product-addition {
        padding: 80px 0;
    }
    .product__addition-content {
        flex-direction: column;
    }
    .product__block-addition {
        width: 100%;
        margin-bottom: 60px;
    }
    .product__block-addition {
        width: 100%;
    }
    #product-recommend {
        padding: 60px 0;
    }
    .product__research-text {
        width: 100%;
        margin-bottom: 38px;
    }
    .product__research-slide {
        width: 340px;
        height: 430px;
        margin: 0 auto;
    }
    .product__research-slide .slick-list .slick-track .slick-slide {
        height: 430px;
    }
    .research-item {
        width: 327px;
        margin-right: 15px;
    }
    .product__vote-block {
        width: 100%;
        margin-bottom: 17px;
        text-align: center;
    }
    .product__vote-block .product__vote-btn {
        margin: 0 auto;
    }
    .product__vote-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .simple__product-additionally {
        order: 10;
        justify-content: flex-start;
        text-align: left;
    }
    .product__modal .modal-body {
        padding: 0px 5px 5px 5px;
    }
    .product__modal .modal-header {
        padding: 20px 40px 0 15px;
    }
    /*upsells product item*/
    .header__product {
        margin: 0;
        padding: 0;
    }
    .header__image {
        padding: 150px 0;
    }
    .product__attribute-list {
        justify-content: flex-start;
        max-width: 100%;
        margin-bottom: 32px;
    }
    .product__attribute-icon {
        margin-right: 34px;
    }
    #recommend-slide {
        width: 292px;
        margin: 0 auto;
    }
    #recommend-slide > li {
        width: 292px;
        margin-right: 10px;
    }
    #recommend-slide .catalog-item {
        flex-direction: column;
        width: 292px;
        height: auto;
    }
    #recommend-slide .catalog-item .catalog-status {
        padding: 7px 20px;
        font-size: 14px;
    }
    #recommend-slide .slick-list .slick-slide
    #recommend-slide .catalog-item .catalog-top,
    #recommend-slide .catalog-item .catalog-top .catalog-desc-item {
        display: block;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-item-info {
        display: block;
        width: 100%;
        text-align: center;
        min-height: 200px;
        padding-top: 20px;
        padding-left: 0;
    }
    #recommend-slide .catalog-item .catalog-top {
        display: flex;
        flex-direction: column;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-image {
        width: 100%;
        height: 140px;
        border-bottom: 1px solid #BDBDBD;
        border-right: 0;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-title {
        padding: 0 20px;
        font-size: 24px;
        font-family: PP Pangram Sans;
        font-weight: 700;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-dosage {
        margin-bottom: 12px;
        font-size: 16px;
    }
    #recommend-slide .catalog-item .catalog-top .category-attribute {
        display: flex;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-desc-item p {
        font-size: 16px;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-item-price {
        padding-bottom: 12px;
        font-size: 18px;
    }
    #recommend-slide .catalog-item .catalog-top .catalog-recommended {
        padding-bottom: 12px;
        font-size: 15px;
    }
    #recommend-slide .catalog-item .catalog-bottom {
        padding-right: 0;
        padding-bottom: 20px;
    }
    #recommend-slide .catalog-item .product_type_simple {
        width: 168px;
        border-radius: 47px;
        border: 1px solid #4281A4 !important;
        font-size: 15px;
    }
    #recommend-slide .catalog-item .product_type_simple .mobile-basket-icon {
        display: none;
    }
    #recommend-slide .slick-dots {
        bottom: -65px;
    }
    #recommend-slide .slick-dots > li:first-child {
        display: inline-block !important;
    }
    #recommend-slide .slick-dots > .slick-active > button {
        background: #4281A4 !important;
    }
    #recommend-slide .slick-dots > li > button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #C6D9E4;
    }
    #recommend-slide .slick-slide {
        margin-right: 15px;
    }
    #recommend-slide .slick-dots > li > button:before {
        width: 10px;
        height: 10px;
        font-size: 0;
    }
    #recommend-slide .catalog-bottom button.disabled {
        border: 1px solid #BDBDBD !important;
    }
    .list-quantity-options {
        left: 0;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}