@font-face {
    font-family: 'Stay Dreaming';
    src: url("../fonts/PangramFontsWoff/Stay Dreaming Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Slim Medium Reclined';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-SlimMediumReclined.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimMediumReclined.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimMediumReclined.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-Thin.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-Thin.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Narrow Smbold';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemiboldItalic.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemiboldItalic.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Narrow Exlight Reclined';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtralightReclined.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtralightReclined.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtralightReclined.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Narrow';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemibold.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemibold.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowSemibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Slim';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-SlimSemiboldItalic.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimSemiboldItalic.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimSemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Narrow Exbold';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtraboldItalic.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtraboldItalic.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-NarrowExtraboldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-Semibold.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-Semibold.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Slim';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-SlimExtralight.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimExtralight.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-SlimExtralight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Compact';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CompactThinItalic.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactThinItalic.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Compressed Medium Reclined';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CompressedMediumReclined.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CompressedMediumReclined.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CompressedMediumReclined.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Condensed';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CondensedThin.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CondensedThin.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CondensedThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-Light.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-Light.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Compressed ExBd';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CompressedExtrabold.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CompressedExtrabold.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CompressedExtrabold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-ExtraboldItalic.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-ExtraboldItalic.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-ExtraboldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-Medium.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-Medium.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Narrow';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-Bold.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-Bold.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Compact Exlight Reclined';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CompactExtralightReclined.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactExtralightReclined.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactExtralightReclined.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap; }

@font-face {
    font-family: 'PP Pangram Sans Compact';
    src: url("../fonts/PangramFontsWoff/PPPangramSans-CompactRegular.woff2") format("woff2"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactRegular.woff") format("woff"), url("../fonts/PangramFontsWoff/PPPangramSans-CompactRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0; }

.slick-list:focus {
    outline: none; }

.slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0); }

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''; }

.slick-track:after {
    clear: both; }

.slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px; }

[dir='rtl'] .slick-slide {
    float: right; }

.slick-slide img {
    display: block; }

.slick-slide.slick-loading img {
    display: none; }

.slick-slide.dragging img {
    pointer-events: none; }

.slick-initialized .slick-slide {
    display: block; }

.slick-loading .slick-slide {
    visibility: hidden; }

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
    display: none; }

/* Slider */
.slick-loading .slick-list {
    background: #fff url("../fonts/PangramFontsWoff/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/PangramFontsWoff/slick.eot");
    src: url("../fonts/PangramFontsWoff/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/PangramFontsWoff/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25; }

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
    left: -25px; }

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto; }

.slick-prev:before {
    content: '←'; }

[dir='rtl'] .slick-prev:before {
    content: '→'; }

.slick-next {
    right: -25px; }

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px; }

.slick-next:before {
    content: '→'; }

[dir='rtl'] .slick-next:before {
    content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px; }

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center; }

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1; }

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black; }


@media (min-width: 1440px) {
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 1440px !important;
  }
}

.block__title {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans';
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #1C131E; }

.block__text {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans';
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    color: #1C131E; }
.block__text-small {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans';
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    color: #1C131E; }

.block__img {
    max-width: 100%; }

.block-10__list-item, .block-10__accordion li, .block-5__item, .block-6__item, .block-6__slider-items, .block-7__item, .block-8__slider-item, .block-9__accordion-item, .block-9__accordion-inner {
    list-style: none; }

@media (max-width: 576px) {
    .block__title {
        font-size: 22px; }
    .block__text {
        font-size: 16px; }
    .block__text-small {
        font-size: 16px; } }

.icons__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px; }

@media (max-width: 991.99px) {
    /*.overflow-auto-custom {*/
    /*    overflow: auto; }*/
    /*.icons__wrap {*/
    /*    width: -webkit-fit-content;*/
    /*    width: -moz-fit-content;*/
    /*    width: fit-content; }*/
    /*.icon__wrap {*/
    /*    padding: 0 70px; } */
    .icons__wrap{
        justify-content: flex-start;
overflow: auto;
    }
.icon__wrap{
    margin-right: 70px;
    min-width: 125px;
    max-height: 30px;
}
    .container-fliud .icon__wrap:first-child{
        margin-left: 100px;
    }
}

@media (max-width: 576px) {
    .icon__wrap {
        margin-right: 20px; } }

.block-10 {
    padding: 100px 0 125px 0;
    background: #4281A4; }
.block-10__title {
    margin-bottom: 60px;
    text-align: center;
    color: #fff; }

.block-10__list-item {
    font-family: "PP Pangram Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    color: #F4F4F4;
    cursor: pointer; }
.block-10__list-item:not(:last-child) {
    border-bottom: 1px solid #F4F4F4; }

.block-10__list-items {
    margin: 0;
    padding: 0; }

.block-10__list-title {
    margin-bottom: 10px;
    font-family: "PP Pangram Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #F4F4F4; }

.block-10__list-text {
    max-width: 460px;
    font-family: "PP Pangram Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #F4F4F4; }

.block-10__list-img {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    width: 505px;
    height: 320px;
    border-radius: 60px; }

.block-10__slider-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.block-10__accordion {
    margin: 0;
    padding: 0; }
.block-10__accordion-title {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #F4F4F4;
    font-family: "PP Pangram Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #F4F4F4;
    line-height: 120%; }
.block-10__accordion-title::after {
    content: url("../images/icons/block-10-plus-white.svg");
    position: absolute;
    right: 18px;
    top: 7px;
    width: 20px;
    height: 20px; }
.block-10__accordion-item {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans';
    font-size: 20px;
    line-height: 120%;
    color: #F4F4F4; }
.block-10__accordion-items {
    margin: 0 0 25px 0;
    padding: 0; }

.block-10__accordion .acc_active .block-10__accordion-title::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url("../images/icons/block-9-minus.svg") center center no-repeat transparent; }

@media (max-width: 767.99px) {
    .block-10__accordion-title {
        padding-right: 60px; } }

@media (max-width: 576.99px) {
    .block-10 {
        padding: 40px 0; }
    .block-10__title {
        margin-bottom: 30px; }
    .block-10__accordion-title {
        font-size: 16px; }
    .block-10__accordion-title::after {
        width: 20px;
        height: 20px; }
    .block-10__accordion-item {
        font-size: 16px; } }

.block-11 {
    padding: 120px 0; }
.block-11__img {
    max-width: 100%;
    min-height: 135px;
    -o-object-fit: none;
    object-fit: none; }
.block-11__text {
    max-width: 330px;
    font-family: 'PP Pangram Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    text-align: center; }
.block-11__title {
    margin-bottom: 80px;
    text-align: center; }

.block-11__slider-mobile {
    display: none; }

.block-11 .col-lg-4 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px; }

@media (max-width: 767.99px) {
    .block-11__slider {
        display: none; }
    .block-11__slider-mobile {
        display: block; }
    .block-11 {
        padding: 80px 0 120px 0; }
    .block-11__title {
        margin-bottom: 10px; }
    .block-11__text {
        font-size: 16px; }
    .block-11 .col-lg-4 {
        margin-bottom: 0; }
    .block-11__slider-mobile > .slick-dots {
        bottom: -50px; }
    .block-11__slider-mobile > .slick-dots li button::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: #4281A4;
        border-radius: 50%;
        content: '';
        text-align: center; } }

@media (max-width: 576.99px) {
    .block-11__text {
        max-width: 295px; }
    .block-11__img {
        -o-object-fit: contain;
        object-fit: contain; }
    .block-11 .col-lg-4 {
        margin: 0 20px 0 20px; } }

.block-2 {
    margin-top: 120px;
    margin-bottom: 80px; }
.block-2__title {
    margin-bottom: 30px; }
.block-2__picture {
    width: 550px;
    height: 550px;
    border-radius: 160px;
    box-shadow: 107px -114px 103px -15px #f5e9c6; }
.block-2__desc-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px; }
.block-2__text-small {
    text-align: center; }
.block-2__wrap {
    margin-top: 80px; }
.block-2__desc-backround{
    display: none;
}
.desc-number__count {
    margin: 10px 0;
    font-family: 'PP Pangram Sans';
    font-size: 40px;
    line-height: 120%;
    color: #1C131E; }

.desc-number__wrap {
    display: flex;
    justify-content: space-between; }

.desc-number__icon-drags {
    width: 50px;
    height: 56px; }

.desc-number__icon-ambl {
    width: 47px;
    height: 56px; }

.desc-number__icon-account {
    width: 54px;
    height: 56px; }

@media (min-width: 768px) and (max-width: 991px) {
    .block-2__picture {
        height: auto; } }

@media (max-width: 768px) {
    .block-2 {
        margin-top: 60px;
        margin-bottom: 40px; }
    .block-2__title {
        margin-bottom: 10px; }
    .block-2__picture {
        box-shadow: none;
        margin-bottom: 30px; } }

@media (max-width: 576px) {
    .block-2{
        margin-bottom: 0;
    }
    .block-2__wrap{
        position: relative;
        z-index: 2;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .block-2__picture {
        width: 327px;
        height: 327px;
        border-radius: 60px; }
    .block-2__title {
        max-width: 330px;
        text-align: center;
        font-weight: 600; }
    .block-2__text {
        max-width: 330px;
        text-align: center;
        font-weight: 300; }
    .block-2__desc-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .block-2__desc-number:not(:last-child) {
        margin-bottom: 40px; }
    .block-2__desc-backround {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url("../images/block-1-mob-motion-1.png") left 80%/cover no-repeat transparent;
        /*filter: blur(200px);*/
        /*-webkit-filter: blur(50px);*/
        z-index: -1; }
    .text-center {
        text-align: center; }
    .desc-number__wrap {

        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2; }
    .desc-number__count {
        font-size: 28px; } }

.block-3 {
    margin-bottom: 105px; }
.block-3__title {
    text-align: center;
    margin-bottom: 60px; }
.block-3__img {
    margin-bottom: 30px;
    height: 250px;
    text-align: center; }
.block-3__text {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center; }
.block-3__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px; }
.block-3__wrap-arrow::before {
    content: '';
    position: absolute;
    top: 120px;
    right: -150px;
    width: 91px;
    height: 8px;
    background: url("../images/icons/block-3-line.svg"); }
.block-3__text-small {
    text-align: center; }
.block-3__inner {
    display: flex;
    justify-content: center; }

@media (max-width: 1399.99px) {
    .block-3__wrap-arrow::before {
        top: 120px;
        right: -100px; } }

@media (max-width: 1199.99px) {
    .block-3__wrap-arrow::before {
        content: none; } }

@media (max-width: 767.99px) {
    .block-3 {
        margin-bottom: 80px; }
    .block-3__title {
        margin-bottom: 30px; }
    .block-3__img {
        margin-bottom: 20px; }
    .block-3__text {
        margin-bottom: 10px; }
    .block-3__wrap-arrow {
        margin-bottom: 50px; } }

@media (max-width: 576.99px) {
    .block-3 {
        margin-bottom: 80px; }
    .block-3__text {
        font-size: 20px; }
    .block-3__text-small {
        font-size: 16px;
        font-weight: 300; } }

.block-4 {
    background-color: #4281A4; }
.block-4__text {
    color: #fff; }
.block-4__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; }
.block-4__link {
    padding-bottom: 3px;
    color: #fff;
    border-bottom: 1px solid #fff}
.block-4__link:hover,
.block-4__link:focus{
    color: #fff;
}
@media (max-width: 767.99px) {
    .block-4__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        height: 160px; }
    .block-4__text:first-child {
        margin-bottom: 20px; } }

@media (max-width: 576.99px) {
    .block-4__text {
        max-width: 330px;
        text-align: center;
        font-weight: 600; } }

.block-5 {
    position: relative;
    margin-top: 100px;
    margin-bottom: 120px; }
.block-5__title {
    text-align: center; }
.block-5__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
.block-5__item:not(:last-child) {
    border-bottom: 1px solid #2c1e2f; }
.block-5__items {
    margin: 0;
    padding: 0;
    max-width: 330px; }
.block-5__img {
    border-radius: 60px;
    max-width: 100%; }
.block-5__img-mobile {
    display: none !important; }

.block-5__text-1 {
    font-weight: bold; }

.block-5__text-2 {
    margin: 10px 0;
    font-family: "Stay Dreaming";
    font-size: 56px;
    line-height: 120%;
    color: #1c131e; }

.block-5__text-3 {
    margin-bottom: 10px;
    color: #bdbdbd; }

.block-5__text-4 {
    margin-bottom: 20px;
    max-width: 400px;
    font-size: 18px; }

.block-5__item {
    margin-top: 10px;
    line-height: 55px; }
.block-5__item-1 {
    font-family: "PP Pangram Sans";
    font-weight: 500;
    font-size: 18px; }
.block-5__item-2 {
    max-width: 180px;
    font-size: 18px; }

.block-5__slider-wrap {
    margin-top: 0; }

.block-5__slider-inner {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px; }

.block-5__img-wrap {
    position: relative; }

.block-5__img-user {
    position: absolute;
    top: -70px;
    right: -80px;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    -o-object-fit: cover;
    object-fit: cover; }

.block-5__imagesnew_dotted {
    margin-top: 80px; }

.block-5__imagesnew {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    cursor: pointer; }

.block-5__imagesnew-1 {
    background: url("../images/block-5-user-alex.jpg") center center/cover no-repeat transparent; }

.block-5__imagesnew-2 {
    background: url("../images/block-5-user-alla.jpg");
    background-size: cover;
    background-repeat: no-repeat; }

.block-5__imagesnew-3 {
    background: url("../images/block-5-user-svet.jpg");
    background-size: cover;
    background-repeat: no-repeat; }

.block-5__imagesnew_dotted .slick-active:not(:last-child) {
    margin-right: 30px; }

.block-5__imagesnew_dotted .slick-current {
    display: none !important; }

.block-5__imagesnew_dotted .slick-track {
    display: flex;
    justify-content: space-between;
    width: 150px !important;
    transform: translateX(-250px) !important; }

.block-5__desc-backround {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../images/block-5-bg.webp") left center/cover no-repeat transparent;
    filter: blur(200px);
    transform: translateX(-14px);
    z-index: -1; }

@media (max-width: 1399.99px) {
    .block-5__img-user {
        right: 0; } }

@media (max-width: 1199.99px) {
    .block-5__img {
        width: 470px; } }

@media (max-width: 991.99px) {
    .block-5__slider-wrap > .slick-dots li button::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: #4281A4;
        border-radius: 50%;
        content: '';
        text-align: center; }
    .block-5__slider-wrap > .slick-dots {
        bottom: -50px; }
    .block-5__text-1 {
        margin-top: 30px; }
    .block-5__slider-inner {
        flex-direction: column;
        align-items: center; }
    .block-5__img-user {
        width: 180px;
        height: 180px;
        top: -70px;
        right: -80px; }
    .block-5__imagesnew_dotted {
        display: none !important; } }

@media (max-width: 768.99px) {
    .block-5__desc-backround {
        background: none; }
    .block-5__img-user {
        top: auto;
        right: 0;
        bottom: 0; } }

@media (max-width: 576.99px) {
    .block-5 {
        margin-top: 80px;
        margin-bottom: 80px; }
    .block-5__img {
        display: none !important; }
    .block-5__img-mobile {
        display: block !important;
        max-width: 330px;
        height: 330px; }
    .block-5__items {
        max-width: 330px; }
    .block-5__text-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; }
    .block-5__text-1 {
        margin-top: 30px;
        font-size: 16px; }
    .block-5__text-2 {
        font-size: 46px; }
    .block-5__text-3 {
        font-size: 16px; }
    .block-5__text-4 {
        max-width: 330px;
        font-size: 16px; }
    .block-5__img-user {
        bottom: -45px;
        top: auto;
        right: 0;
        width: 140px;
        height: 140px; }
    .block-5__img-wrap {
        max-width: 330px;
        text-align: center; }
    .block-5__slider-wrap {
        margin-top: 30px; }
    .block-5__slider-inner {
        padding-top: 0; }
    .block-5__item {
        margin: 0;
        width: 330px; }
    .block-5__item-1 {
        font-size: 16px; }
    .block-5__item-2 {
        max-width: 150px;
        font-size: 16px; } }

.block-6 {
    margin: 120px 0; }
.block-6__item {
    position: relative; }
.block-6__item:not(:last-child) {
    margin-bottom: 40px; }
.block-6__img {
    margin-bottom: 100px;
    max-width: 100%;
    border-radius: 60px; }
.block-6__img-slider {
    margin-bottom: 24px; }
.block-6__title {
    margin-bottom: 60px;
    text-align: center; }
.block-6__text {
    margin-bottom: 40px;
    font-family: "PP Pangram Sans";
    font-weight: 500; }
.block-6__items {
    padding: 0 0 0 54px;
    margin: 50px 0; }

.block-6__inner-border {
    margin-top: 50px;
    padding: 25px;
    max-width: 100%;
    border: 1px solid #2c1e2f;
    border-radius: 16px; }

.block-6__item-1::before {
    content: "";
    position: absolute;
    left: -59px;
    top: 7px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-6-icon-1.svg"); }

.block-6__item-2::before {
    content: "";
    position: absolute;
    left: -59px;
    top: 7px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-6-icon-2.svg"); }

.block-6__item-3::before {
    content: "";
    position: absolute;
    left: -59px;
    top: 25px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-6-icon-3.svg"); }

.block-6__slider-items {
    padding: 0;
    margin: 0; }

.block-6__slider-item_text {
    margin-bottom: 8px;
    font-family: "PP Pangram Sans";
    font-weight: 500;
    font-size: 20px;
    text-align: center; }

.block-6__slider-item_decr {
    max-width: 270px;
    text-align: center;
    font-size: 18px; }

.block-6__slider-item {
    float: left;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.3; }

.block-6__slider-wrap {
    margin-top: 60px; }

.block-6__slider-items {
    margin: 0 auto; }

.block-6__slider-wrap .slick-slide {
    transform: scale(1);
    transition: 0.3s ease-in-out all; }

.block-6__slider-wrap .slick-initialized .slick-slide.slick-center .block-6__slider-item {
    opacity: 1 !important; }

.block-6__slider-wrap .slick-slide.slick-active {
    opacity: 1; }

@media (max-width: 1399.99px) {
    .block-6__inner-border {
        margin-bottom: 100px; } }

@media (max-width: 576.99px) {
    .block-6__inner-border_text{
        text-align: center;
    }
    .slick-slide img {
        max-width: 100%; }
    .block-6 {
        margin: 80px 0; }
    .block-6__text {
        margin-bottom: 30px; }
    .block-6__img {
        margin-bottom: 30px;
        width: 327px;
        height: 327px;
    }
    .block-6__inner-border {
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 25px; }
    .block-6__slider-wrap {
        margin-top: 40px; } }

.block-7 {
    margin-bottom: 120px; }
.block-7__title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    z-index: 2; }
.block-7__img {
    max-width: 100%;
    box-shadow: -107px -114px 103px -15px #f5e9c6;
    border-radius: 60px; }
.block-7__text {
    margin-bottom: 35px;
    max-width: 550px;
}
.block-7__text-decs {
    max-width: 490px; }
.block-7__subtitle {
    margin-bottom: 20px;
    font-family: "PP Pangram Sans";
    font-size: 24px;
    line-height: 120%; }
.block-7__item {
    position: relative;
    padding-left: 70px;
    margin-bottom: 15px; }
.block-7__items {
    padding-left: 0;
    max-width: 350px; }

.block-7__item {
    height: 50px;
    line-height: 51px;
font-size: 18px;
}
.block-7__item-1::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-7-GLUTEN.svg"); }
.block-7__item-2::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-7-GMO.svg"); }
.block-7__item-3::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-7-SUGAR.svg"); }
.block-7__item-4::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 0px;
    display: block;
    width: 50px;
    height: 50px;
    background: url("../images/icons/block-7-fillers.svg"); }

@media (max-width: 576.99px) {
    .block-7 {
        margin-bottom: 60px; }
    .block-7__title {
        margin-bottom: 30px; }
    .block-7__img {
        width: 327px;
        height: 327px;
        margin-bottom: 30px; }
    .block-7__text {
        margin-bottom: 30px; }
}

.block-8 {
    position: relative;
    margin-bottom: 170px; }
.block-8__title {
    margin-bottom: 60px;
    text-align: center; }

.block-8__text {
    margin-bottom: 40px;
    text-align: center;
    min-height: 150px;
    max-width: 630px; }
.block-8__text-name {
    margin-bottom: 5px;
    font-family: "PP Pangram Sans";
    font-size: 20px;
    line-height: 120%; }
.block-8__img {
    margin-bottom: 20px;
    max-width: 180px;
    height: 180px;
    border-radius: 50%; }

.block-8__slider-items > .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #4281a4;
    border-radius: 50%;
    content: "";
    text-align: center; }

.block-8__slider-wrap .slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center; }

.block-8__slider-wrap {
    position: relative; }

.block-8__slider-item {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0 20px;
    margin-bottom: 30px;
    opacity: 0.3; }

.block-8__slider-items {
    margin: 0;
    padding: 0; }

.block-8__slider-wrap .slick-initialized .slick-slide {
    transform: scale(1);
    transition: 0.3s ease-in-out all; }

.block-8__slider-wrap .slick-initialized .slick-slide.slick-center {
    opacity: 1;
    transform: scale(1); }

.block-8__slider-wrap .slick-initialized .slick-slide.slick-center .block-8__slider-item {
    opacity: 1 !important; }

.block-8__slider-items {
    margin: 0 auto; }
.block-8__bg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../images/block-8-bg-2.png") center center/contain no-repeat transparent;
    /*filter: blur(300px);*/
    /*-webkit-filter: blur(50px);*/
    /*transform: translate(-14px, 52px);*/
    /*z-index: -1;*/
}
@media (max-width: 567.99px) {
    .block-8 {
        margin-bottom: 80px; }
    .block-8__bg {
        /*display: block;*/
        /*position: absolute;*/
        /*top: 0;*/
        /*bottom: 0;*/
        /*right: 0;*/
        /*left: 0;*/
        background: url("../images/block-9-bg-1.png") center center/contain no-repeat transparent;
        /*filter: blur(300px);*/
        /*-webkit-filter: blur(50px);*/
        /*transform: translate(-14px, 52px);*/
        /*z-index: -1;*/
    }
}

.block-9 {
    position: relative;
    margin-bottom: 120px; }
.block-9__title {
    margin-bottom: 65px;
    text-align: center; }

.block-9__accordion {
    margin: 0;
    padding: 0; }
.block-9__accordion-title {
    position: relative;
    z-index: 2;
    margin: 0;
    font-family: "PP Pangram Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer; }
.block-9__accordion-title span {
    display: block;
    max-width: 620px; }
.block-9__accordion-item {
    margin: 0;
    padding: 25px 0 0 0;
    border-bottom: none !important;
    font-family: 'PP Pangram Sans';
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    color: #1C131E; }
.block-9__accordion-items {
    margin: 0 0 25px 0;
    padding: 0; }

.block-9__accordion-inner {
    position: relative;
    padding: 23px 0; }
.block-9__accordion-inner:not(:last-child) {
    border-bottom: 1px solid #2C1E2F; }
.block-9__accordion-inner::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/block-9-plus.svg") center center no-repeat transparent;
    /*z-index: -1;*/
}
.block-9__accordion-inner .acc_active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/block-9-plus.svg") center center no-repeat transparent;
    /*z-index: -1*/
}

.block-9__accordion-inner.acc_active::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/block-9-minus.svg") center center no-repeat transparent;
    z-index: 1;
}

.block-9__accordion-inner.acc_active:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 38px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/block-9-minus.svg") center center no-repeat transparent;
    /*z-index: -1;*/
}

.block-9__accordion-inner:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 40px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/block-9-plus.svg") center center no-repeat transparent;
    /*z-index: -1;*/
}

@media (max-width: 1199.99px) {
    .block-9__accordion-title span {
        display: block;
        max-width: 495px; } }

@media (max-width: 767.99px) {
    .block-9__accordion-title {
        padding-right: 60px; } }

@media (max-width: 576.99px) {
    .block-9 {
        margin-bottom: 40px; }
    .block-9__title {
        margin-bottom: 30px; }
    .block-9__accordion-title {
        font-size: 16px; }
    .block-9__accordion-title::after {
        width: 20px;
        height: 20px; }
    .block-9__accordion-item {
        font-size: 16px; } }

.block-12__decs-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-12{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
}

.block-12__title{
    margin: 0 0 15px 0;
    padding: 0;
    max-width: 330px;
    font-family: 'PP Pangram Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #2C1E2F;
}

.block-12__text{
    margin-bottom: 35px;
    max-width: 365px;
    text-align: center;
    font-weight: 300;
}

.block-12__btn-text{
    padding: 15px 60px;
    width: 230px;
    height: 54px;
    font-family: 'PP Pangram Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #2C1E2F;
    border-radius: 35px;
    color: #fff;
}
.block-12__btn-text:hover{
    border: 1px solid #2C1E2F;
    color: #1C131E;
    background: transparent;
    transition: all .2s linear;
}
.block-12__text-small{
    margin-bottom: 10px;
    font-family: 'PP Pangram Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1C131E;
}
.block-12__small-under{
    border-bottom: 1px solid #2C1E2F;
}
.block-12__decs-wrap{
    margin-top: 85px;
}
.block-12__btn-link{
    margin-bottom: 10px;
}
.block-12__btn-link:hover,
.block-12__btn-link:focus{
    color: #4281A4;
}
.block-12__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:  url("../images/block-12-img-bg.png") left top no-repeat transparent;
    z-index: -1;
}
@media  (max-width: 576.99px) {
    .block-12__title{
        font-size: 28px;
    }
    .block-12__decs-wrap{
        margin-top: 0;
    }
    .block-12__text {
        max-width: 300px;
    }
    .block-12__text-small{
        font-size: 16px;
        line-height: 120%;
    }
    .block-12__small-under{
        font-size: 16px;
        line-height: 120%;
    }
    .block-12 {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background:  url("../images/block-12-bg-mob.png") left 25% no-repeat transparent;
        background-size: cover;
        z-index: 0;
    }
    .block-12__bg {
        background: none;
    }
}